{%load static %} <!-- On utilise cette synthaxe pour afficher le css, elle est présente sur les 3 pages html-->


<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <img id="logo" src="{% static 'img/rail.png' %}">
            <div id="menu">
                <a href="/Djangotrain_app/index" class="nav-l"> Acceuil </a>
                <a href="/Djangotrain_app/show/1" class="nav-l"> Détails des trains </a>
                <a href="/Djangotrain_app/hasard" class="nav-l"> Aléatoire </a>
                <form method="GET" action="{% url 'recherche' %}"> <!-- au début ma barre de recherche ne fonctionnait pas, il faut mettre {% url 'recherche' %}-->
                    <input type="text" name="text" class="recherche" placeholder="Rechercher">
                    <input type="submit" name="submit" class="submit" value="recherche">
                </form>
            </div>
        </nav>
    </header>
    <main>
        <div class="container">
            <img src="{% static 'img/image_section.jpg' %}"> <!--chemin de l'image dans le fichier static-->
        </div>
        <section class="first">
            <section id="presentation">
                <div class="showtitle">
                    <h2> Bienvenue sur HeticCF</h2>
                </div>
                <div class="list">
                    <div class="showtitle">
                        <p> Trouvez votre bonheur avec nos trains ! </p>
                    </div>
                    {% for trainactuel in listTrains %} <!-- On utilise cette boucle pour afficher les informartions que l'on shouhaite (à voir juste en dessous) de tous les trains de notre base de donnée -->
                    <div class="trainlist">
                        <p> {{ trainactuel.name }}</p> <!--On définit ce qu'on veut dans notre boucle, trainactuel et ce que l'on souhaite avoir. Ici name, time, destination, on aurait pu afficher n'importe quoi, tant que c'est défini dans notre models -->
                        <p class="part"> Départ : {{ trainactuel.time }} </p>
                        <p class="villee"> {{ trainactuel.destination }}</p>    
                        <a class="next"  href="/Djangotrain_app/show/{{ trainactuel.trainId }}"> Voir </a> <!-- Le lien  redirige vers la page show selon l'ID du train choisi, trainID qu'on a défini dans notre modèle -->
                    </div>
                    {% endfor %}<!--Fin de la boucle -->
                </div>
            </section>
            <section class="scd">
                    <div class="Card">
                    <p class="card"> Pourquoi choisir HeticCF ? </p>
                    <p class="card"> Nos 3 critères de voyage : </p>
                    <p class="adj"> Rapidité </p>
                    <p class="adj"> Confort </p>
                    <p class="adj"> Sérénité</p>
                    </div>
                <article>
                    <img class="imagei" src="{% static 'img/newtrain.jpg' %}">
                </article>
                <article>
                    <img class="imagei" src="{% static 'img/luxetrain.jpg' %}">
                </article>
            </section>
        </section>
        </main>
        <footer>
            <p> HeticCF | PACARD Florian </p>
        </footer>
</body>
</html>

