{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <img id="logo" src="{% static 'img/rail.png' %}">
            <div id="menu">
                <a href="/Djangotrain_app/index" class="nav-l"> Acceuil </a>
                <a href="/Djangotrain_app/show/1" class="nav-l"> Détails des trains </a>
                <a href="/Djangotrain_app/hasard" class="nav-l"> Aléatoire </a>
                <form method="GET" action="{% url 'recherche' %}">
                    <input type="text" name="text" class="recherche" placeholder="Rechercher">
                    <input type="submit" name="submit" class="submit" value="recherche">
                </form>
            </div>
        </nav>
    </header>
    <main>
    <h1 class="showtitle">Votre train</h1>
    <h2 class="intro"> Présentation du train </h2>
    <h2 class="present" id="names"> Le nom de votre train :  {{ Nom }} </h2> 
    <h3 class="present"> La ligne utilsé : {{ ligne }}</h3>
    <section class="center">
    <img class="plan" src="{{ imagi.url }}"> <!--Ici j'ai mis .url car sinon l'image ne s'affiche pas, il y avait un problème de chemin -->
    <h3 class="present"> Le départ est prévu à :  {{ time }} </h3>
    <h3 class="present"> Votre destination :  {{ Ville }} </h3>
    <h3 class="present"> Ce que vous pouvez faire  : {{ Découverte }} </h3>
    <div class="boutoncentre">
    <a class="boutone" href="/Djangotrain_app/show/{{ preID }}"> Précédent </a>
    <a class="bouton" href="/Djangotrain_app/show/{{ nextID }}"> Suivant </a>
    </div>
    </section>
    </main>
    <footer>
        <p> HeticCF | PACARD Florian </p>
    </footer>
</body>
</html>


